@import './rule-sets/rule-sets.less';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}

body {
  --border-color: #eee;
  --header-color: #fff4e8;
  --down-color: #11ec11;
  --up-color: lightcoral;
  --font-color: #45444a;
  color: var(--font-color);
}

.border-top {
  border-top: 1px solid var(--border-color);
}

.border-bottom {
  border-bottom: 1px solid var(--border-color);
}

.box-shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.background(@color: #fff) {
  background-color: @color;
}

.bg-blue() {
  background-image: linear-gradient(0deg, rgba(77, 149, 255, 1), rgba(57, 131, 241, 1));
}

.fs-9 {
  font-size: 90% !important;
}

.fs-8 {
  font-size: 80% !important;
}

#root {
  width: 100%;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
  // overflow-y: scroll;
  // padding: 1em;
  color: var(--font-color);
  background-color: lighten(#eaeaea, 5%);

  >.table {
    padding-bottom: 80vh;
  }
}

* {
  box-sizing: border-box;
  user-select: none;
}

p {
  margin: 0 auto;
}

@keyframes rise-bg {
  0% {
    background: #ffd2d2;
  }

  100% {
    background: #fff;
  }
}

@keyframes fall-bg {
  0% {
    background: #e6ffe6;
  }

  100% {
    background: #fff;
  }
}

.ticker-list {
  // padding-bottom: 80vh;

  >div {

    // border-bottom: 1px solid var(--border-color);
    &:nth-of-type(odd)>p:first-child {
      background: whitesmoke;
    }

    &.rise>p:first-child {
      animation: rise-bg 2s linear 0s 1;
    }

    &.fall>p:first-child {
      animation: fall-bg 2s linear 0s 1;
    }

    >p:first-child {
      position: sticky;
      top: 2em;
      background: #fff;
      z-index: 10;
      // box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: right;
      padding: 0.5em;
      line-height: 0.9;



      .ub-button {
        padding: 0.2em;

        &.expanded {
          box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.3);
        }

        >img {
          height: 1.8em;
        }
      }
    }
  }

  >p,
  >div>p {

    >span {
      flex-grow: 1;
      // width: 20%;

      &:first-child {
        text-align: left;
        width: 8%;
      }

      &:last-child {
        width: 35%;
      }
    }

    >span:not(:last-child)>span {
      font-size: 70%;
      vertical-align: bottom;
      color: lighten(#5d5b6a, 30%);
      font-weight: normal;
    }
  }
}

.ticker-header {
  background: var(--header-color);
  font-weight: bold;
  z-index: 2;

  &:first-child {
    position: sticky;
    top: 0;
    z-index: 12;
  }
}

.table {
  >p:first-child {
    font-weight: bold;
    margin-bottom: 0;
    border-bottom: 1px solid var(--border-color);
    // background: floralwhite;
  }

  // >p.tac {
  //   text-align: center;
  //   display: block;
  // }

  >p:not(:first-child) {
    box-shadow: 0 0 2px 0px rgba(0,0,0,0.1);
  }

  >p {
    margin-bottom: 0.5em;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: center;
    background: #fff;
    // border-bottom: 1px solid var(--border-color);

    >span {
      width: 20%;
      flex-grow: 1;
      line-height: 1;

      >span {
        font-weight: normal;
        font-size: 80%;
        color: #b0b0b0;
      }

      &:first-child {
        text-align: left;
        // width: 10%;
      }
    }
  }
}

.ub-button {
  font-size: inherit;
  color: inherit;
  // background: #fff;
  height: auto;
  padding: 0.3em 0.3em;
  // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #c6c6c6;
  // background-image: linear-gradient(0deg, rgba(77, 149, 255, 1), rgba(57, 131, 241, 1));
  // color: #fff;
  background-color: inherit;


  &::before {
    content: '';
  }

  &:disabled {
    background: lightgray;
    color: grey;
  }
}

.ticker-details {
  align-items: flex-start;
  .border-top();

  >div {
    width: 50%;
  }


  >div:nth-child(2) {
    border-left: 1px solid var(--border-color);
    .border-top();
  }

  .table {
    position: relative;
    max-height: 50vh;
    overflow: hidden;
    // padding-left: 2em;
    font-size: 0.8em;

    .border-top();

    &:focus {
      overflow: scroll;
    }

    >p {
      padding: 0.3em 1em;
    }

    >p:first-child {
      position: sticky;
      top: 0;
      background: #fff;
      z-index: 3;
    }
  }

}

.bg_red {
  background: #ffd2d2;
}

.bg_green {
  background: #e6ffe6;
}

.place-order-wrapper {
  padding: 0 1em;
  .border-top();


  button {
    width: 100%;
    height: 2.2em;
    border: none;
    color: #e6ffe6;
    font-size: 1.2em;

    &.bg_red {
      background: #ff7171;
    }

    &.bg_green {
      background: #8df98d;
    }
  }

  >* {
    width: 47.5%;
  }

  >*:first-child {
    box-sizing: content-box;
    padding-right: 2.5%;
    border-right: 1px solid var(--border-color);
  }

  >div>p {
    margin-bottom: 0.5em;

    &:not(:first-child) {
      font-size: 80%;
    }

    >span {
      cursor: pointer;
      flex-grow: 1;
    }
  }
}

.expand-control {
  cursor: pointer;
  font-size: 80%;

  &:hover {
    background: darken(floralwhite, 10%);

  }

  padding: 0.1em 0;
}

input {
  text-align: right;
  font: inherit;
  color: inherit;

}

.ws-indicator {

  &.online::before {
    background: #68e86c;
  }

  &.disconnected::before {
    background: #ff4e77;
  }

  &::before {
    content: '';
    display: inline-block;
    background: #f78e1c;
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    margin: 0 0.2em;

  }
}

div.modal-wrapper>div {
  max-width: 500px;
  padding: 1em 2em;

  >p {
    margin-bottom: 0.5em;
  }

  .ub-button {
    .bg-blue();
    color: #fff;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
    border: none;
  }


}

div.login-modal {

  .ub-dialog-footer {
    justify-content: center;
  }

}

@media only screen and (max-width: 540px) {
  .ticker-details {
    flex-wrap: wrap;

    >div {
      width: 100%;
    }

    .table {
      max-height: 40vw;
    }
  }
}

.f-line-container {
  padding: 0.5em;
  .border-top();

  >p {
    justify-content: space-between;

    >span {
      cursor: pointer;
      text-align: center;
      padding: 0 0.5em;
      border: 1px solid #ddd;
      border-radius: 0.2em;
      .box-shadow();

      &.selected {
        border-color: #aaa;
      }

      &:first-child {
        border: none;
        font-size: 70%;
        box-shadow: none;
        text-align: left;
        padding-left: 0;

        >span:first-child {
          color: var(--up-color);
        }

        >span:last-child {
          color: var(--down-color);
        }
      }
    }
  }

  >canvas,
  >div {
    width: 100%;
    height: 200px;
  }

  >div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

div.num-input-wrapper {
  >span {
    display: block;
    text-align: right;
    font-size: 1.5em;
    min-height: 2em;
    line-height: 2em;
    margin-bottom: 0;
    letter-spacing: 0.1em;
    background: rgba(0, 0, 0, 0.1);
  }

  >button {
    display: inline-block;
    width: 33.33%;
    padding: 1em 0;
    border-radius: 0;
  }

  >div.ub-dialog-footer {
    margin-top: 1em;
  }
}

.orders-grouper {
  padding: 0.5em 2em 0.5em 0.5em;
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  .background();
  justify-content: space-between;
  display: flex;
  z-index: 3;

  >span {
    position: relative;

    &.selected::before {
      background-color: rgba(0, 0, 0, 0.06);
    }

    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 180%;
      top: -10%;
      height: 120%;
      left: -40%;
      border-radius: 0.3em;
    }
  }
}

.finished_orders {
  font-size: 85%;
  padding-bottom: 50vh;

  >p:first-child {
    .background();
    position: sticky;
    top: calc(2em + 8px);
    z-index: 3;
  }

  >p {
    // white-space: nowrap;
    // overflow-x: scroll;

    >span {
      width: 13%;

      &:not(:first-child):not(:last-child) {
        margin: 0 0.2em;
      }

      // flex-shrink: 0;
    }
  }
}